In [25]:
from pyspark.sql import (
    Row,
    SparkSession)
from pyspark.sql.functions import col, asc, desc

def parse_line(line: str):
    fields = line.split('|') # |
    return Row(
        name=str(fields[0]),
        country=str(fields[1]),
        email=str(fields[2]),
        compensation=int(fields[3]))


spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
lines = spark.sparkContext.textFile("file:///home/jovyan/work/sample/income.txt")
income_data = lines.map(parse_line)

# Creates a DataFrame from an RDD, a list or a pandas.DataFrame.
# SparkSession.createDataFrame(data, schema=None, samplingRatio=None, verifySchema=True)[source]
schema_income = spark.createDataFrame(data=income_data).cache()

# Creates or replaces a local temporary view with this DataFrame.
schema_income.createOrReplaceTempView("income")

# returns the dataframe
medium_income_df = spark.sql(
    "SELECT * FROM income WHERE compensation >= 70000 AND compensation <= 100000")
# medium_income_df.show()

# for income_data in medium_income_df.collect():
#     # print(income_data)
#     print(income_data.name)

# # use function instead of sql function
schema_income.groupBy("country").count().orderBy(col("count").desc()).show()

+--------------------+-----+
|             country|count|
+--------------------+-----+
|           Australia|   10|
|            Dominica|    9|
|           Nicaragua|    9|
|             Ecuador|    9|
|              Kuwait|    9|
|               Congo|    9|
|            Thailand|    9|
|          Madagascar|    9|
|           Singapore|    9|
|Virgin Islands, B...|    8|
|              Zambia|    8|
|  Dominican Republic|    8|
|Sao Tome and Prin...|    8|
|                Mali|    8|
|             Senegal|    8|
|             Belgium|    7|
|Palestinian Terri...|    7|
|             Lesotho|    7|
|             Bolivia|    7|
|         Isle of Man|    7|
+--------------------+-----+
only showing top 20 rows

In [9]:
from pyspark.sql import Row, SparkSession
from pyspark.sql.functions import col, asc, desc

spark = SparkSession.builder.appName("test").getOrCreate()
test_file = ("file:///home/jovyan/work/sample/income.txt")
lines = spark.sparkContext.textFile(test_file)


def col_parse(line : str) :
    col = line.split("|")
    return Row(
        name = col[0],
        city = col[1],
        mail = col[2],
        price = int(col[3])
    )

col_lines = lines.map(col_parse)
df = spark.createDataFrame(data = col_lines).cache()

df.schema()

df.createOrReplaceTempView("income")

re = spark.sql(
    "select * from income " 
)

re.show()

TypeError: 'StructType' object is not callable

In [ ]:
"file:///home/jovyan/work/sample/income.txt"

In [8]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import  asc, desc 


spark = SparkSession.builder.appName("sql_test").getOrCreate()
lines = spark.sparkContext.textFile("file:///home/jovyan/work/sample/income.txt")

def col_parse(line : str) :
    col = line.split("|")
    return Row(
        name = col[0],
        country = col[1],
        mail= col[2],
        price = int(col[3]) )

col_line = lines.map(col_parse)

df = spark.createDataFrame(data = col_line).cache() 
df.createOrReplaceTempView("income")

spark.sql (
    "select * from income where price = 91072"
).show()

+-----------------+----------+--------------------+-----+
|             name|   country|                mail|price|
+-----------------+----------+--------------------+-----+
|Walter Washington|Kazakhstan|mbilderbach@examp...|91072|
+-----------------+----------+--------------------+-----+

In [1]:
print(123)

123