In [43]:
from pyspark.sql import (
    functions as f,
    SparkSession,
    types as t
)

# Attribution 3.0 Unported (CC BY 3.0)
# https://www.kaggle.com/datasets/csanhueza/the-marvel-universe-social-network

spark = SparkSession.builder.appName("df_most_popular").getOrCreate()
csv_file_path = "file:///home/jovyan/work/sample/hero-network.csv"
# read file
df = spark.read\
            .option("header", "true")\
            .option("inferSchema", "true").csv(csv_file_path)


# pyspark.sql.functions.collect_set(col): Aggregate function: returns a set of objects with duplicate elements eliminated.
data = df.groupBy("hero1").agg(f.collect_set("hero2").alias("connection")).withColumnRenamed("hero1", "hero")
data.show()
# # pyspark.sql.functions.concat_ws(sep, *cols): Concatenates multiple input string columns together into a single string column, using the given separator.
# data = data.withColumn("connection", f.concat_ws(",", f.col("connection")))
# data.show()

# # DataFrame.coalesce(numPartitions): Returns a new DataFrame that has exactly numPartitions partitions.
# data.coalesce(1).write.option("header", True).csv("output")

# # load the file
# csv_file_path = "file:///home/jovyan/work/output"
# df = spark.read\
#             .option("header", "true")\
#             .option("inferSchema", "true")\
#             .csv(csv_file_path)
# # df.show()

# # pyspark.sql.functions.size(col): Collection function: returns the length of the array or map stored in the column.
# df = df.withColumn(
#         "connection_size",
#         f.size(
#             f.split(f.col("connection"), ",")))\
#         .orderBy(f.desc("connection_size"))
# df.show()

# most_popular_hero = df.select("hero").first()
# print(most_popular_hero.hero)

+--------------------+--------------------+
|                hero|          connection|
+--------------------+--------------------+
|             ABCISSA|[ELSIE DEE, FURY,...|
|             ABSALOM|[SHATTERSTAR II/G...|
|ABSORBING MAN | MUTA|[DRAX | MUTANT X-...|
|ABSORBING MAN/CARL C|[SOMMERS, APRIL, ...|
|ADAMS, CONGRESSMAN H|[SPIDER-MAN/PETER...|
| ADAMS, NICOLE NIKKI|[JUSTICE II/VANCE...|
|    ADAMSON, REBECCA|[KABALLA, GOLEM I...|
|               ADRIA|[DORMAMMU, ANCIEN...|
|   ADVENT/KYLE GROBE|[JUSTICE II/VANCE...|
|AGAMEMNON II/ANDREI |[BLACK WIDOW/NATA...|
|      AGAMEMNON III/|[ASTER, LUCIAN, H...|
|            AGAMOTTO|[SATANNISH, DORMA...|
|             AGGAMON|[DR. STRANGE/STEP...|
|              AGINAR|[SIF, REJECT/RAN-...|
|                AGON|[MARISTA, BLACK B...|
|     AGUIRRE, ISOBEL|[TERMINUS, HUMAN ...|
|               AINET|[STORM/ORORO MUNR...|
|    AKUTAGAWA, OSAMU|[HUMAN TORCH/JOHN...|
|ALDEN, PROF. MEREDIT|[CABE, BETHANY, S...|
|              ALIOTH|[LIBRA/GUSTAV BRA...|
+--------------------+--------------------+
only showing top 20 rows

In [ ]:
            .option("header", "true")\
            .option("inferSchema", "true")

In [20]:
for
csv_file_path = "file:///home/jovyan/work/sample/hero-network.csv"

In [24]:
from pyspark.sql import functions as f, types as t , SparkSession


csv_file_path = "file:///home/jovyan/work/sample/hero-network.csv"
spark = SparkSession.builder.appName("graph_test").getOrCreate()
df = spark.read.option("header","true").option("inferSchema","true").csv(csv_file_path)

+--------------------+--------------------+
|               hero1|               hero2|
+--------------------+--------------------+
|       LITTLE, ABNER|      PRINCESS ZANDA|
|       LITTLE, ABNER|BLACK PANTHER/T'CHAL|
|BLACK PANTHER/T'CHAL|      PRINCESS ZANDA|
|       LITTLE, ABNER|      PRINCESS ZANDA|
|       LITTLE, ABNER|BLACK PANTHER/T'CHAL|
|BLACK PANTHER/T'CHAL|      PRINCESS ZANDA|
|STEELE, SIMON/WOLFGA|    FORTUNE, DOMINIC|
|STEELE, SIMON/WOLFGA| ERWIN, CLYTEMNESTRA|
|STEELE, SIMON/WOLFGA|IRON MAN/TONY STARK |
|STEELE, SIMON/WOLFGA|IRON MAN IV/JAMES R.|
|STEELE, SIMON/WOLFGA|RAVEN, SABBATH II/EL|
|RAVEN, SABBATH II/EL|    FORTUNE, DOMINIC|
|RAVEN, SABBATH II/EL| ERWIN, CLYTEMNESTRA|
|RAVEN, SABBATH II/EL|IRON MAN/TONY STARK |
|RAVEN, SABBATH II/EL|IRON MAN IV/JAMES R.|
|IRON MAN IV/JAMES R.|    FORTUNE, DOMINIC|
|IRON MAN IV/JAMES R.| ERWIN, CLYTEMNESTRA|
|IRON MAN IV/JAMES R.|IRON MAN/TONY STARK |
|IRON MAN/TONY STARK |    FORTUNE, DOMINIC|
|IRON MAN/TONY STARK | ERWIN, CLYTEMNESTRA|
+--------------------+--------------------+
only showing top 20 rows

In [50]:
import pyspark.sql.functions as F
from pyspark.sql import SparkSession


from pyspark.sql.types import StructType, StructField, IntegerType, StringType

spark = SparkSession.builder.appName("YourAppName").getOrCreate()

# 데이터 생성
data = [
    ("Alice", "Seattle"),
    ("Bob", "San Francisco"),
    ("Bob", "USA"),
    ("Charlie", "New York"),
    ("Charlie", "KOREA"),
]

schema = StructType([
    StructField("name", StringType(), True),
    StructField("city", StringType(), True),
])

df = spark.createDataFrame(data, schema=schema)

# "id" 열을 기준으로 그룹화하여 "city" 열의 중복 없는 값들을 집합으로 반환하여 새로운 열 "unique_cities" 생성

data = df.groupBy("name").agg(f.collect_set("city").alias("connection")).withColumnRenamed("hero1", "hero2")

# 결과 출력
data.show()

+-------+--------------------+
|   name|          connection|
+-------+--------------------+
|  Alice|           [Seattle]|
|    Bob|[San Francisco, USA]|
|Charlie|   [KOREA, New York]|
+-------+--------------------+

In [60]:
import pyspark.sql.functions as f
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.window import Window

# 데이터 생성
data = [
    (1, "Alice", 30, "Seattle"),
    (2, "Alice", 25, "San Francisco"),
    (2, "Charlie", 25, "San Francisco"),
    (3, "Charlie", 40, "New York"),
]

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("city", StringType(), True),
])

df = spark.createDataFrame(data, schema=schema)

# "id" 열을 기준으로 분할된 윈도우에서 "city" 열의 중복 없는 값들을 집합으로 반환하여 새로운 열 "unique_cities" 생성
data = df.groupBy("name").agg(f.collect_set("city").alias("city"))
# 결과 출력
data.show()

+-------+--------------------+
|   name|                city|
+-------+--------------------+
|  Alice|[Seattle, San Fra...|
|Charlie|[San Francisco, N...|
+-------+--------------------+

In [67]:
import pyspark.sql.functions as f
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.window import Window


data = [
    (1,"Alice", 30, "Seattle"),
    (2,"Bob", 25, "San"),
    (3,"Bob", 25, "Ban"),
    (4,"Alice",30,"USA")
]

schema = StructType([
    StructField("id",IntegerType(),True),
    StructField("name",StringType(),True),
    StructField("age",IntegerType(),True),
    StructField("city",StringType(),True),
])

df = spark.createDataFrame(data, schema = schema )

data = df.groupBy("name").agg(f.collect_set("city").alias("city")).withColumnRenamed("a","b")

data.show()

+-----+--------------+
| name|          city|
+-----+--------------+
|Alice|[Seattle, USA]|
|  Bob|    [Ban, San]|
+-----+--------------+

In [3]:
from pyspark.sql import functions as f, SparkSession, types as t

In [4]:
spark = SparkSession.builder.appName("df_most_popular").getOrCreate()
csv_file_path = "file:///home/jovyan/work/sample/hero-network.csv"
# read file
df = spark.read\
            .option("header", "true")\
            .option("inferSchema", "true").csv(csv_file_path)

In [8]:
df.show()

+--------------------+--------------------+
|               hero1|               hero2|
+--------------------+--------------------+
|       LITTLE, ABNER|      PRINCESS ZANDA|
|       LITTLE, ABNER|BLACK PANTHER/T'CHAL|
|BLACK PANTHER/T'CHAL|      PRINCESS ZANDA|
|       LITTLE, ABNER|      PRINCESS ZANDA|
|       LITTLE, ABNER|BLACK PANTHER/T'CHAL|
|BLACK PANTHER/T'CHAL|      PRINCESS ZANDA|
|STEELE, SIMON/WOLFGA|    FORTUNE, DOMINIC|
|STEELE, SIMON/WOLFGA| ERWIN, CLYTEMNESTRA|
|STEELE, SIMON/WOLFGA|IRON MAN/TONY STARK |
|STEELE, SIMON/WOLFGA|IRON MAN IV/JAMES R.|
|STEELE, SIMON/WOLFGA|RAVEN, SABBATH II/EL|
|RAVEN, SABBATH II/EL|    FORTUNE, DOMINIC|
|RAVEN, SABBATH II/EL| ERWIN, CLYTEMNESTRA|
|RAVEN, SABBATH II/EL|IRON MAN/TONY STARK |
|RAVEN, SABBATH II/EL|IRON MAN IV/JAMES R.|
|IRON MAN IV/JAMES R.|    FORTUNE, DOMINIC|
|IRON MAN IV/JAMES R.| ERWIN, CLYTEMNESTRA|
|IRON MAN IV/JAMES R.|IRON MAN/TONY STARK |
|IRON MAN/TONY STARK |    FORTUNE, DOMINIC|
|IRON MAN/TONY STARK | ERWIN, CLYTEMNESTRA|
+--------------------+--------------------+
only showing top 20 rows

In [10]:
data = df.groupBy("hero1").agg(f.collect_set("hero2").alias("connection"))
data.show()

+--------------------+--------------------+
|               hero1|          connection|
+--------------------+--------------------+
|             ABCISSA|[ELSIE DEE, FURY,...|
|             ABSALOM|[SHATTERSTAR II/G...|
|ABSORBING MAN | MUTA|[DRAX | MUTANT X-...|
|ABSORBING MAN/CARL C|[SOMMERS, APRIL, ...|
|ADAMS, CONGRESSMAN H|[SPIDER-MAN/PETER...|
| ADAMS, NICOLE NIKKI|[JUSTICE II/VANCE...|
|    ADAMSON, REBECCA|[KABALLA, GOLEM I...|
|               ADRIA|[DORMAMMU, ANCIEN...|
|   ADVENT/KYLE GROBE|[JUSTICE II/VANCE...|
|AGAMEMNON II/ANDREI |[BLACK WIDOW/NATA...|
|      AGAMEMNON III/|[ASTER, LUCIAN, H...|
|            AGAMOTTO|[SATANNISH, DORMA...|
|             AGGAMON|[DR. STRANGE/STEP...|
|              AGINAR|[SIF, REJECT/RAN-...|
|                AGON|[MARISTA, BLACK B...|
|     AGUIRRE, ISOBEL|[TERMINUS, HUMAN ...|
|               AINET|[STORM/ORORO MUNR...|
|    AKUTAGAWA, OSAMU|[HUMAN TORCH/JOHN...|
|ALDEN, PROF. MEREDIT|[CABE, BETHANY, S...|
|              ALIOTH|[LIBRA/GUSTAV BRA...|
+--------------------+--------------------+
only showing top 20 rows

In [11]:
data = data.withColumn("connection", f.concat_ws(",", f.col("connection")))
data.show()

+--------------------+--------------------+
|               hero1|          connection|
+--------------------+--------------------+
|             ABCISSA|ELSIE DEE,FURY, C...|
|             ABSALOM|SHATTERSTAR II/GA...|
|ABSORBING MAN | MUTA|DRAX | MUTANT X-V...|
|ABSORBING MAN/CARL C|SOMMERS, APRIL,HE...|
|ADAMS, CONGRESSMAN H|SPIDER-MAN/PETER ...|
| ADAMS, NICOLE NIKKI|JUSTICE II/VANCE ...|
|    ADAMSON, REBECCA|KABALLA,GOLEM III...|
|               ADRIA|DORMAMMU,ANCIENT ...|
|   ADVENT/KYLE GROBE|JUSTICE II/VANCE ...|
|AGAMEMNON II/ANDREI |BLACK WIDOW/NATASHA |
|      AGAMEMNON III/|ASTER, LUCIAN,HOG...|
|            AGAMOTTO|SATANNISH,DORMAMM...|
|             AGGAMON|DR. STRANGE/STEPHEN |
|              AGINAR|SIF,REJECT/RAN-SA...|
|                AGON|MARISTA,BLACK BOL...|
|     AGUIRRE, ISOBEL|TERMINUS,HUMAN TO...|
|               AINET|STORM/ORORO MUNRO...|
|    AKUTAGAWA, OSAMU|HUMAN TORCH/JOHNN...|
|ALDEN, PROF. MEREDIT|CABE, BETHANY,STO...|
|              ALIOTH|LIBRA/GUSTAV BRAN...|
+--------------------+--------------------+
only showing top 20 rows

In [12]:
data.coalesce(1).write.option("header", True).csv("output")