In [1]:
import pyspark

sc = pyspark.SparkContext.getOrCreate();
test_file = "file:///home/jovyan/work/sample/temperature.csv"

In [2]:
lines = sc.textFile(test_file)

In [14]:
def parse_col(line, heaer):
    if line != header :
        col = line.split(',')
        city = col[6].strip("\"")
        tmp = col[4]
        yield(city,tmp)

header = lines.first()


parse_line = lines.flatMap(lambda line : parse_col(line, header))
filtered_line = parse_line.filter(lambda x : 'NA' not in x[1]).mapValues(lambda x : float(x))

In [17]:
filtered_line.reduceByKey(min).collect()

[('Auckland', 49.856),
 ('Canoas', 50.009),
 ('Cape Town', 49.9946),
 ('Hamilton', 44.564),
 ('Kherson', 7.0952),
 ('Kiev', 2.85619999999999),
 ('Lvov', 7.1726),
 ('Marseille', 39.3908),
 ('Odesa', 14.8838),
 ('Stockholm', 13.3988),
 ('Wroclaw', 9.167),
 ('NA', 12.4682),
 ('BrasÃ­lia', 62.9744),
 ('Johannesburg', 42.1772),
 ('Paris', 25.0232),
 ('Tokyo', 29.156),
 ('Tottori', 34.2518),
 ('Uppsala', 6.0494),
 ('Warsaw', 6.8)]

In [18]:
sc = pyspark.SparkContext.getOrCreate()
test_file = "file:///home/jovyan/work/sample/house_price.csv"
lines = sc.textFile(test_file)

In [20]:
def parse_col(line):
    col = line.split(",")
    price = col[1]
    cnt = col[2]
    return (price,cnt)

parse_line = lines.map(lambda line : parse_col(line))

In [28]:
parse_line.mapValues(lambda x : (x,1)).reduceByKey(lambda x, y : ((int(x[0])+int(y[0])), (int(x[1])+int(y[1])))).collect()

[('10000', (8, 2)),
 ('5000', (14, 2)),
 ('4000', (4, 2)),
 ('9000', ('4', 1)),
 ('8000', ('9', 1)),
 ('40000', ('7', 1))]

In [32]:
from pyspark.sql import Row, SparkSession
from pyspark.sql.functions import col, asc, desc

In [34]:
spark = SparkSession.builder.appName('SparkSQL').getOrCreate()
lines = spark.sparkContext.textFile("file:///home/jovyan/work/sample/income.txt")

In [36]:
def parse_line(line: str):
    col = line.split('|')
    return Row (name = str(col[0]),
                country = str(col[1]),
                email = str(col[2]),
                compensation = int(col[3])
               )

In [44]:
income_data = lines.map(parse_line)

In [46]:
schema_income = spark.createDataFrame(data=income_data).cache()

In [50]:
schema_income.show()

+-----------------+--------------------+--------------------+------------+
|             name|             country|               email|compensation|
+-----------------+--------------------+--------------------+------------+
|         Kam Long|            Dominica|VinThomas@example...|      137611|
|     Jamey Warner|            Botswana|badlittleduck@tes...|      134999|
|      Theola Page|              Malawi|   sharvin@test.mint|      171808|
|      Wes Simpson|        Turkmenistan|joshuasortino@exa...|       65429|
|  Loriann Hammond|           Argentina|osvaldas@example....|      183451|
|     Dannie Watts|Virgin Islands, B...|abdullindenis@tes...|      194254|
|    Darby Sanders|         Timor-Leste|suprb@example.xn-...|      195497|
| Willian Cummings|             Senegal|    areus@test.canon|       77369|
| Patricia Lindsey|              Bhutan|mikemai2awesome@t...|      141602|
|       Fae Howell|         Timor-Leste|wr@example.xn--3o...|      147314|
|  Annalee Pearson|          Martinique|benefritz@test.fu...|      175067|
|     Clarita Gill|             Ecuador| tomaslau@test.games|       86986|
|        Wes Kelly|         Puerto Rico|rickdt@example.fi...|      194969|
|    Dwain Robbins|             Uruguay|oaktreemedia@test.aw|      146444|
|Walter Washington|          Kazakhstan|mbilderbach@examp...|       91072|
|    Twanna Garner|         Puerto Rico|       ariil@test.pm|      115333|
|       Elroy Dean|            Honduras|aaroni@example.zippo|      198172|
|       Lacy Ortiz|Saint Pierre and ...|kushsolitary@exam...|      102871|
|   Edgardo Larson|           Venezuela|rohixx@example.vo...|      138680|
|   Catarina Hines|               Macao|markjenkins@examp...|       64945|
+-----------------+--------------------+--------------------+------------+
only showing top 20 rows

In [51]:
schema_income.createOrReplaceTempView('income')

In [53]:
spark.sql(
    "select * from income"
).show()

+-----------------+--------------------+--------------------+------------+
|             name|             country|               email|compensation|
+-----------------+--------------------+--------------------+------------+
|         Kam Long|            Dominica|VinThomas@example...|      137611|
|     Jamey Warner|            Botswana|badlittleduck@tes...|      134999|
|      Theola Page|              Malawi|   sharvin@test.mint|      171808|
|      Wes Simpson|        Turkmenistan|joshuasortino@exa...|       65429|
|  Loriann Hammond|           Argentina|osvaldas@example....|      183451|
|     Dannie Watts|Virgin Islands, B...|abdullindenis@tes...|      194254|
|    Darby Sanders|         Timor-Leste|suprb@example.xn-...|      195497|
| Willian Cummings|             Senegal|    areus@test.canon|       77369|
| Patricia Lindsey|              Bhutan|mikemai2awesome@t...|      141602|
|       Fae Howell|         Timor-Leste|wr@example.xn--3o...|      147314|
|  Annalee Pearson|          Martinique|benefritz@test.fu...|      175067|
|     Clarita Gill|             Ecuador| tomaslau@test.games|       86986|
|        Wes Kelly|         Puerto Rico|rickdt@example.fi...|      194969|
|    Dwain Robbins|             Uruguay|oaktreemedia@test.aw|      146444|
|Walter Washington|          Kazakhstan|mbilderbach@examp...|       91072|
|    Twanna Garner|         Puerto Rico|       ariil@test.pm|      115333|
|       Elroy Dean|            Honduras|aaroni@example.zippo|      198172|
|       Lacy Ortiz|Saint Pierre and ...|kushsolitary@exam...|      102871|
|   Edgardo Larson|           Venezuela|rohixx@example.vo...|      138680|
|   Catarina Hines|               Macao|markjenkins@examp...|       64945|
+-----------------+--------------------+--------------------+------------+
only showing top 20 rows

In [56]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, col, round as rnd

In [60]:
spark = SparkSession.builder.appName('sql_import_csv').getOrCreate()
path = "file:///home/jovyan/work/sample/age.csv"

In [66]:
data = spark.read.option("header","true").option("inferSchema","true").csv(path)
data.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- country: string (nullable = true)

In [69]:
data = spark.read.option("header","true").csv(path)
data.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- country: string (nullable = true)

In [64]:
data.prrintSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- country: string (nullable = true)

In [82]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import (
    avg,
    col,
    round as rnd

SyntaxError: incomplete input (894830806.py, line 5)

In [72]:
data.show()

+-----------------+---+--------------------+
|             name|age|             country|
+-----------------+---+--------------------+
|    Neville Hardy| 56|                Niue|
|      Dacia Cohen| 74|Falkland Islands ...|
|    Kathey Daniel| 10|            Slovenia|
|     Mallie Welch| 12|   Equatorial Guinea|
|     Katia Bryant| 14|               Ghana|
|Laurice Robertson| 53|        Saudi Arabia|
|     Minh Barrett| 27|French Southern T...|
|   Latashia Perez| 52|             Finland|
|      Elvina Ross| 68|         New Zealand|
|  Augustus Snyder| 20|             Jamaica|
|        Elois Cox| 65|            Paraguay|
|    Jolanda Dixon| 14|               Ghana|
|      Rutha Young| 10|        Saint Helena|
| Waltraud Holland| 10|             Moldova|
|   Colton Flowers| 77|Saint Vincent and...|
|     Meri Hawkins| 43|             Jamaica|
|     Theola Mason| 71|              Gambia|
|  Antonia Pearson| 25|             Namibia|
|   Delicia Murray| 41|         El Salvador|
|    Cicely Harvey| 37|              Belize|
+-----------------+---+--------------------+
only showing top 20 rows

In [73]:
data.select('name','age').show()

+-----------------+---+
|             name|age|
+-----------------+---+
|    Neville Hardy| 56|
|      Dacia Cohen| 74|
|    Kathey Daniel| 10|
|     Mallie Welch| 12|
|     Katia Bryant| 14|
|Laurice Robertson| 53|
|     Minh Barrett| 27|
|   Latashia Perez| 52|
|      Elvina Ross| 68|
|  Augustus Snyder| 20|
|        Elois Cox| 65|
|    Jolanda Dixon| 14|
|      Rutha Young| 10|
| Waltraud Holland| 10|
|   Colton Flowers| 77|
|     Meri Hawkins| 43|
|     Theola Mason| 71|
|  Antonia Pearson| 25|
|   Delicia Murray| 41|
|    Cicely Harvey| 37|
+-----------------+---+
only showing top 20 rows

In [75]:
data.filter(data.age > 20).show()

+-----------------+---+--------------------+
|             name|age|             country|
+-----------------+---+--------------------+
|    Neville Hardy| 56|                Niue|
|      Dacia Cohen| 74|Falkland Islands ...|
|Laurice Robertson| 53|        Saudi Arabia|
|     Minh Barrett| 27|French Southern T...|
|   Latashia Perez| 52|             Finland|
|      Elvina Ross| 68|         New Zealand|
|        Elois Cox| 65|            Paraguay|
|   Colton Flowers| 77|Saint Vincent and...|
|     Meri Hawkins| 43|             Jamaica|
|     Theola Mason| 71|              Gambia|
|  Antonia Pearson| 25|             Namibia|
|   Delicia Murray| 41|         El Salvador|
|    Cicely Harvey| 37|              Belize|
|    Berry Russell| 49|       New Caledonia|
|   Lauryn Hubbard| 80|           Mauritius|
|    Judson Willis| 34|              Sweden|
|     Junita Meyer| 49|             Moldova|
|        Apryl Fox| 48|            Maldives|
|   Dorsey Wheeler| 56|Sao Tome and Prin...|
|       Jae Duncan| 47|              Norway|
+-----------------+---+--------------------+
only showing top 20 rows

In [178]:
spark = SparkSession.builder.appName("sql_import_csv").getOrCreate()
csv_file_path = "file:///home/jovyan/work/sample/age.csv"

# header option: either csv has header or not(default: header = false)
# inferSchema: either all columns are str or not
data = spark.read.option("header", "true")\
                 .option("inferSchema", "true")\
                 .csv(csv_file_path)

In [179]:
data.select(data.country, data.age).groupBy("country").avg("age").show()

+--------------------+------------------+
|             country|          avg(age)|
+--------------------+------------------+
|                Chad|             36.25|
|            Paraguay| 47.77777777777778|
|            Anguilla|              72.0|
|               Macao|              72.0|
|Heard Island and ...|              30.0|
|             Senegal|              53.0|
|              Sweden|45.333333333333336|
|             Tokelau|34.166666666666664|
|French Southern T...|50.666666666666664|
|            Kiribati|48.666666666666664|
|   Republic of Korea|58.166666666666664|
|              Guyana|              39.0|
|             Eritrea|             39.75|
|              Jersey|              58.8|
|         Philippines|48.333333333333336|
|            Djibouti|              38.6|
|               Tonga|              49.0|
|      Norfolk Island|35.333333333333336|
|            Malaysia|60.666666666666664|
|           Singapore|              40.0|
+--------------------+------------------+
only showing top 20 rows

In [180]:
data.select('name','age').show()

+-----------------+---+
|             name|age|
+-----------------+---+
|    Neville Hardy| 56|
|      Dacia Cohen| 74|
|    Kathey Daniel| 10|
|     Mallie Welch| 12|
|     Katia Bryant| 14|
|Laurice Robertson| 53|
|     Minh Barrett| 27|
|   Latashia Perez| 52|
|      Elvina Ross| 68|
|  Augustus Snyder| 20|
|        Elois Cox| 65|
|    Jolanda Dixon| 14|
|      Rutha Young| 10|
| Waltraud Holland| 10|
|   Colton Flowers| 77|
|     Meri Hawkins| 43|
|     Theola Mason| 71|
|  Antonia Pearson| 25|
|   Delicia Murray| 41|
|    Cicely Harvey| 37|
+-----------------+---+
only showing top 20 rows

In [181]:
data.select(data.name,data.age).show()

+-----------------+---+
|             name|age|
+-----------------+---+
|    Neville Hardy| 56|
|      Dacia Cohen| 74|
|    Kathey Daniel| 10|
|     Mallie Welch| 12|
|     Katia Bryant| 14|
|Laurice Robertson| 53|
|     Minh Barrett| 27|
|   Latashia Perez| 52|
|      Elvina Ross| 68|
|  Augustus Snyder| 20|
|        Elois Cox| 65|
|    Jolanda Dixon| 14|
|      Rutha Young| 10|
| Waltraud Holland| 10|
|   Colton Flowers| 77|
|     Meri Hawkins| 43|
|     Theola Mason| 71|
|  Antonia Pearson| 25|
|   Delicia Murray| 41|
|    Cicely Harvey| 37|
+-----------------+---+
only showing top 20 rows

In [182]:
data.select(data.name, data.age).filter(data.age > 70).show()

+---------------+---+
|           name|age|
+---------------+---+
|    Dacia Cohen| 74|
| Colton Flowers| 77|
|   Theola Mason| 71|
| Lauryn Hubbard| 80|
|  Verena Dennis| 80|
|    Gaston Ford| 76|
|    Lory Austin| 76|
|      Otha Soto| 72|
|  Kristofer Roy| 74|
|  Janee Holland| 80|
|  Mitchell Rios| 73|
|Doloris Pearson| 72|
|     Enoch Beck| 75|
|       Tai Pope| 73|
|     Chery Dean| 79|
|   Donn Mullins| 77|
|  Kasie Simmons| 74|
|   Dyan Mendoza| 76|
|Daron Mccormick| 72|
|Rashad Holloway| 79|
+---------------+---+
only showing top 20 rows

In [103]:
data.groupBy("age").count().show()

+---+-----+
|age|count|
+---+-----+
| 31|   16|
| 65|   16|
| 53|   14|
| 78|   16|
| 34|   15|
| 28|   11|
| 76|   14|
| 27|   10|
| 26|   15|
| 44|   14|
| 12|   15|
| 22|   17|
| 47|   17|
| 52|   16|
| 13|   14|
| 16|   18|
| 20|   12|
| 40|   22|
| 57|    9|
| 54|   17|
+---+-----+
only showing top 20 rows

In [104]:
data.select(data.name, data.age, (data.age - 10).alias('new_age')).show()

+-----------------+---+-------+
|             name|age|new_age|
+-----------------+---+-------+
|    Neville Hardy| 56|     46|
|      Dacia Cohen| 74|     64|
|    Kathey Daniel| 10|      0|
|     Mallie Welch| 12|      2|
|     Katia Bryant| 14|      4|
|Laurice Robertson| 53|     43|
|     Minh Barrett| 27|     17|
|   Latashia Perez| 52|     42|
|      Elvina Ross| 68|     58|
|  Augustus Snyder| 20|     10|
|        Elois Cox| 65|     55|
|    Jolanda Dixon| 14|      4|
|      Rutha Young| 10|      0|
| Waltraud Holland| 10|      0|
|   Colton Flowers| 77|     67|
|     Meri Hawkins| 43|     33|
|     Theola Mason| 71|     61|
|  Antonia Pearson| 25|     15|
|   Delicia Murray| 41|     31|
|    Cicely Harvey| 37|     27|
+-----------------+---+-------+
only showing top 20 rows

In [184]:
data.select(data.name, data.age, data.country).groupBy(data.country).avg(data.age).show()

PySparkTypeError: [NOT_ITERABLE] Column is not iterable.

In [ ]:
data.select(data.name, data.age, data.country).groupBy("country").avg("age").sort("avg(age)").show()

In [106]:
from pyspark.sql import (functions,Row, SparkSession)

In [107]:
spark=SparkSession.builder.appName("df_wordcount").getOrCreate()

In [108]:
df = spark.createDataFrame([
        Row(a=1,
            intlist=[1,2,3],
            mapfield={"a": "b"}
           )])
df.show()

+---+---------+--------+
|  a|  intlist|mapfield|
+---+---------+--------+
|  1|[1, 2, 3]|{a -> b}|
+---+---------+--------+

In [110]:
df.select(functions.explode(df.intlist).alias("anInt")).show()

+-----+
|anInt|
+-----+
|    1|
|    2|
|    3|
+-----+

In [114]:
df = spark.createDataFrame([Row(word="hello world and pyspark")])
df.show()

+--------------------+
|                word|
+--------------------+
|hello world and p...|
+--------------------+

In [116]:
df.select(functions.explode(
            functions.split(df.word, ' ')).alias("word")
         ).show()

+-------+
|   word|
+-------+
|  hello|
|  world|
|    and|
|pyspark|
+-------+

In [127]:
csv_file_path = "file:///home/jovyan/work/sample/lorem_ipsum.txt"
df = spark.read.text(csv_file_path)
df.show()

+--------------------+
|               value|
+--------------------+
|Lorem ipsum dolor...|
|Metus aliquam ele...|
+--------------------+

In [129]:
df.show()

+--------------------+
|               value|
+--------------------+
|Lorem ipsum dolor...|
|Metus aliquam ele...|
+--------------------+

In [126]:
word = df.select(functions.split(df.value, ' ').alias('word'))
word.show()

+--------------------+
|                word|
+--------------------+
|[Lorem, ipsum, do...|
|[Metus, aliquam, ...|
+--------------------+

In [130]:
words = df.select(functions.explode(functions.split(df.value, ' ')).alias("word"))
words.show()

+-----------+
|       word|
+-----------+
|      Lorem|
|      ipsum|
|      dolor|
|        sit|
|      amet,|
|consectetur|
| adipiscing|
|      elit,|
|        sed|
|         do|
|    eiusmod|
|     tempor|
| incididunt|
|         ut|
|     labore|
|         et|
|     dolore|
|      magna|
|    aliqua.|
|         Et|
+-----------+
only showing top 20 rows

In [137]:
words.groupBy(words.word).count().orderBy(functions.col('count').desc()).show()

+------------+-----+
|        word|count|
+------------+-----+
|         sit|    6|
|        amet|    5|
|          in|    4|
|sollicitudin|    3|
|     gravida|    3|
|          et|    3|
|      tellus|    3|
|          id|    3|
|    interdum|    2|
|        quam|    2|
|   fermentum|    2|
|     laoreet|    2|
|   malesuada|    2|
|        diam|    2|
|     commodo|    2|
|     cursus.|    2|
|       magna|    2|
|        eget|    2|
|       nulla|    2|
|         sed|    2|
+------------+-----+
only showing top 20 rows

In [138]:
from pyspark.sql import functions, SparkSession, Row

csv_file_path = "file:///home/jovyan/work/sample/lorem_ipsum.txt"
df = spark.read.text(csv_file_path)

In [140]:
df.show()

+--------------------+
|               value|
+--------------------+
|Lorem ipsum dolor...|
|Metus aliquam ele...|
+--------------------+

In [141]:
df.select(functions.split(df.value,' ')).show()

+--------------------+
| split(value,  , -1)|
+--------------------+
|[Lorem, ipsum, do...|
|[Metus, aliquam, ...|
+--------------------+

In [145]:
dat = df.select(functions.explode(functions.split(df.value, ' ')).alias('val'))

In [146]:
dat.show()

+-----------+
|        val|
+-----------+
|      Lorem|
|      ipsum|
|      dolor|
|        sit|
|      amet,|
|consectetur|
| adipiscing|
|      elit,|
|        sed|
|         do|
|    eiusmod|
|     tempor|
| incididunt|
|         ut|
|     labore|
|         et|
|     dolore|
|      magna|
|    aliqua.|
|         Et|
+-----------+
only showing top 20 rows

In [151]:
dat.groupBy('val').count().orderBy(functions.col('count').desc()).show()

+------------+-----+
|         val|count|
+------------+-----+
|         sit|    6|
|        amet|    5|
|          in|    4|
|sollicitudin|    3|
|     gravida|    3|
|          et|    3|
|      tellus|    3|
|          id|    3|
|    interdum|    2|
|        quam|    2|
|   fermentum|    2|
|     laoreet|    2|
|   malesuada|    2|
|        diam|    2|
|     commodo|    2|
|     cursus.|    2|
|       magna|    2|
|        eget|    2|
|       nulla|    2|
|         sed|    2|
+------------+-----+
only showing top 20 rows

In [192]:
from pyspark.sql import SparkSession, functions as f, Row, types as t

In [193]:
spark = SparkSession.builder.appName("df_struct").getOrCreate()

In [214]:
path= "file:///home/jovyan/work/sample/temp_with_date.csv"
df = spark.read.csv(path)

In [215]:
df.show()

+--------------------+---+----------+
|                 _c0|_c1|       _c2|
+--------------------+---+----------+
|                Guam|-25|2022-03-25|
|                Guam| 39|2022-02-18|
|              Serbia|-35|2022-08-31|
|       French Guiana| -6|2022-04-03|
|Falkland Islands ...|-40|2022-05-26|
|              Brazil| 15|2022-02-11|
|             Tunisia|-31|2022-09-20|
|            Portugal|  7|2022-01-02|
|                Iran|-22|2022-08-14|
|           Australia| -5|2022-01-12|
|              Gambia| 21|2022-08-08|
|               Italy| 31|2022-08-26|
|          Guadeloupe|-39|2022-07-13|
|        South Africa|-24|2022-05-02|
|              Malawi| -6|2022-06-13|
|                Iran| 34|2022-09-28|
|      Norfolk Island| -5|2022-02-21|
|Lao People's Demo...| 25|2022-11-17|
|   Republic of Korea|-18|2022-07-13|
|           Singapore|-15|2022-05-18|
+--------------------+---+----------+
only showing top 20 rows

In [196]:
table_schema = t.StructType([
    t.StructField("city",t.StringType(),True),
    t.StructField("tmp",t.FloatType(),True),
    t.StructField("dat",t.StringType(),True)
])

In [197]:
df = spark.read.schema(table_schema).csv(path)

In [198]:
df.show()

+--------------------+-----+----------+
|                city|  tmp|       dat|
+--------------------+-----+----------+
|                Guam|-25.0|2022-03-25|
|                Guam| 39.0|2022-02-18|
|              Serbia|-35.0|2022-08-31|
|       French Guiana| -6.0|2022-04-03|
|Falkland Islands ...|-40.0|2022-05-26|
|              Brazil| 15.0|2022-02-11|
|             Tunisia|-31.0|2022-09-20|
|            Portugal|  7.0|2022-01-02|
|                Iran|-22.0|2022-08-14|
|           Australia| -5.0|2022-01-12|
|              Gambia| 21.0|2022-08-08|
|               Italy| 31.0|2022-08-26|
|          Guadeloupe|-39.0|2022-07-13|
|        South Africa|-24.0|2022-05-02|
|              Malawi| -6.0|2022-06-13|
|                Iran| 34.0|2022-09-28|
|      Norfolk Island| -5.0|2022-02-21|
|Lao People's Demo...| 25.0|2022-11-17|
|   Republic of Korea|-18.0|2022-07-13|
|           Singapore|-15.0|2022-05-18|
+--------------------+-----+----------+
only showing top 20 rows

In [199]:
df.show()

+--------------------+-----+----------+
|                city|  tmp|       dat|
+--------------------+-----+----------+
|                Guam|-25.0|2022-03-25|
|                Guam| 39.0|2022-02-18|
|              Serbia|-35.0|2022-08-31|
|       French Guiana| -6.0|2022-04-03|
|Falkland Islands ...|-40.0|2022-05-26|
|              Brazil| 15.0|2022-02-11|
|             Tunisia|-31.0|2022-09-20|
|            Portugal|  7.0|2022-01-02|
|                Iran|-22.0|2022-08-14|
|           Australia| -5.0|2022-01-12|
|              Gambia| 21.0|2022-08-08|
|               Italy| 31.0|2022-08-26|
|          Guadeloupe|-39.0|2022-07-13|
|        South Africa|-24.0|2022-05-02|
|              Malawi| -6.0|2022-06-13|
|                Iran| 34.0|2022-09-28|
|      Norfolk Island| -5.0|2022-02-21|
|Lao People's Demo...| 25.0|2022-11-17|
|   Republic of Korea|-18.0|2022-07-13|
|           Singapore|-15.0|2022-05-18|
+--------------------+-----+----------+
only showing top 20 rows

In [200]:
data = df.select("city", "tmp", "dat")

In [201]:
df.groupBy(df.city).min("tmp").show()

+--------------------+--------+
|                city|min(tmp)|
+--------------------+--------+
|                Chad|   -24.0|
|            Anguilla|   -40.0|
|            Paraguay|    30.0|
|               Macao|   -34.0|
|Heard Island and ...|   -39.0|
|               Yemen|   -33.0|
|             Senegal|   -21.0|
|              Sweden|   -29.0|
|             Tokelau|   -35.0|
|            Kiribati|   -26.0|
|French Southern T...|   -22.0|
|   Republic of Korea|   -18.0|
|              Guyana|   -28.0|
|             Eritrea|   -40.0|
|         Philippines|   -34.0|
|              Jersey|   -21.0|
|      Norfolk Island|   -28.0|
|               Tonga|   -40.0|
|           Singapore|   -25.0|
|            Malaysia|   -21.0|
+--------------------+--------+
only showing top 20 rows

In [202]:
min_tmp = df.groupBy(df.city).min("tmp")

In [203]:
min_tmp.show()

+--------------------+--------+
|                city|min(tmp)|
+--------------------+--------+
|                Chad|   -24.0|
|            Anguilla|   -40.0|
|            Paraguay|    30.0|
|               Macao|   -34.0|
|Heard Island and ...|   -39.0|
|               Yemen|   -33.0|
|             Senegal|   -21.0|
|              Sweden|   -29.0|
|             Tokelau|   -35.0|
|            Kiribati|   -26.0|
|French Southern T...|   -22.0|
|   Republic of Korea|   -18.0|
|              Guyana|   -28.0|
|             Eritrea|   -40.0|
|         Philippines|   -34.0|
|              Jersey|   -21.0|
|      Norfolk Island|   -28.0|
|               Tonga|   -40.0|
|           Singapore|   -25.0|
|            Malaysia|   -21.0|
+--------------------+--------+
only showing top 20 rows

In [206]:
f_temperature = data.withColumn("tmp",(f.col("tmp") * 9 / 5) + 32).select("city", "tmp")
f_temperature.show()

+--------------------+-------------------+
|                city|                tmp|
+--------------------+-------------------+
|                Guam|              -13.0|
|                Guam|              102.2|
|              Serbia|              -31.0|
|       French Guiana|               21.2|
|Falkland Islands ...|              -40.0|
|              Brazil|               59.0|
|             Tunisia|-23.799999999999997|
|            Portugal|               44.6|
|                Iran| -7.600000000000001|
|           Australia|               23.0|
|              Gambia|               69.8|
|               Italy|               87.8|
|          Guadeloupe|              -38.2|
|        South Africa|-11.200000000000003|
|              Malawi|               21.2|
|                Iran|               93.2|
|      Norfolk Island|               23.0|
|Lao People's Demo...|               77.0|
|   Republic of Korea|-0.3999999999999986|
|           Singapore|                5.0|
+--------------------+-------------------+
only showing top 20 rows

In [210]:
data.withColumn("tmp2",(f.col("tmp")+ 25)).select("city","tmp","tmp2","dat").show()

+--------------------+-----+-----+----------+
|                city|  tmp| tmp2|       dat|
+--------------------+-----+-----+----------+
|                Guam|-25.0|  0.0|2022-03-25|
|                Guam| 39.0| 64.0|2022-02-18|
|              Serbia|-35.0|-10.0|2022-08-31|
|       French Guiana| -6.0| 19.0|2022-04-03|
|Falkland Islands ...|-40.0|-15.0|2022-05-26|
|              Brazil| 15.0| 40.0|2022-02-11|
|             Tunisia|-31.0| -6.0|2022-09-20|
|            Portugal|  7.0| 32.0|2022-01-02|
|                Iran|-22.0|  3.0|2022-08-14|
|           Australia| -5.0| 20.0|2022-01-12|
|              Gambia| 21.0| 46.0|2022-08-08|
|               Italy| 31.0| 56.0|2022-08-26|
|          Guadeloupe|-39.0|-14.0|2022-07-13|
|        South Africa|-24.0|  1.0|2022-05-02|
|              Malawi| -6.0| 19.0|2022-06-13|
|                Iran| 34.0| 59.0|2022-09-28|
|      Norfolk Island| -5.0| 20.0|2022-02-21|
|Lao People's Demo...| 25.0| 50.0|2022-11-17|
|   Republic of Korea|-18.0|  7.0|2022-07-13|
|           Singapore|-15.0| 10.0|2022-05-18|
+--------------------+-----+-----+----------+
only showing top 20 rows

In [213]:
data.select(data.city,  (data.tmp+25).alias('tmp') ,data.dat).show()

+--------------------+-----+----------+
|                city|  tmp|       dat|
+--------------------+-----+----------+
|                Guam|  0.0|2022-03-25|
|                Guam| 64.0|2022-02-18|
|              Serbia|-10.0|2022-08-31|
|       French Guiana| 19.0|2022-04-03|
|Falkland Islands ...|-15.0|2022-05-26|
|              Brazil| 40.0|2022-02-11|
|             Tunisia| -6.0|2022-09-20|
|            Portugal| 32.0|2022-01-02|
|                Iran|  3.0|2022-08-14|
|           Australia| 20.0|2022-01-12|
|              Gambia| 46.0|2022-08-08|
|               Italy| 56.0|2022-08-26|
|          Guadeloupe|-14.0|2022-07-13|
|        South Africa|  1.0|2022-05-02|
|              Malawi| 19.0|2022-06-13|
|                Iran| 59.0|2022-09-28|
|      Norfolk Island| 20.0|2022-02-21|
|Lao People's Demo...| 50.0|2022-11-17|
|   Republic of Korea|  7.0|2022-07-13|
|           Singapore| 10.0|2022-05-18|
+--------------------+-----+----------+
only showing top 20 rows

In [218]:
bdf2 =df

In [219]:
df2.show()

+--------------------+---+----------+
|                 _c0|_c1|       _c2|
+--------------------+---+----------+
|                Guam|-25|2022-03-25|
|                Guam| 39|2022-02-18|
|              Serbia|-35|2022-08-31|
|       French Guiana| -6|2022-04-03|
|Falkland Islands ...|-40|2022-05-26|
|              Brazil| 15|2022-02-11|
|             Tunisia|-31|2022-09-20|
|            Portugal|  7|2022-01-02|
|                Iran|-22|2022-08-14|
|           Australia| -5|2022-01-12|
|              Gambia| 21|2022-08-08|
|               Italy| 31|2022-08-26|
|          Guadeloupe|-39|2022-07-13|
|        South Africa|-24|2022-05-02|
|              Malawi| -6|2022-06-13|
|                Iran| 34|2022-09-28|
|      Norfolk Island| -5|2022-02-21|
|Lao People's Demo...| 25|2022-11-17|
|   Republic of Korea|-18|2022-07-13|
|           Singapore|-15|2022-05-18|
+--------------------+---+----------+
only showing top 20 rows

In [220]:
header = ['city','tmp','dat']
df2 = df2.toDF(*header)
df2.show()

+--------------------+---+----------+
|                city|tmp|       dat|
+--------------------+---+----------+
|                Guam|-25|2022-03-25|
|                Guam| 39|2022-02-18|
|              Serbia|-35|2022-08-31|
|       French Guiana| -6|2022-04-03|
|Falkland Islands ...|-40|2022-05-26|
|              Brazil| 15|2022-02-11|
|             Tunisia|-31|2022-09-20|
|            Portugal|  7|2022-01-02|
|                Iran|-22|2022-08-14|
|           Australia| -5|2022-01-12|
|              Gambia| 21|2022-08-08|
|               Italy| 31|2022-08-26|
|          Guadeloupe|-39|2022-07-13|
|        South Africa|-24|2022-05-02|
|              Malawi| -6|2022-06-13|
|                Iran| 34|2022-09-28|
|      Norfolk Island| -5|2022-02-21|
|Lao People's Demo...| 25|2022-11-17|
|   Republic of Korea|-18|2022-07-13|
|           Singapore|-15|2022-05-18|
+--------------------+---+----------+
only showing top 20 rows

In [221]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType

# SparkSession ìì± (íìí ê²½ì°)
spark = SparkSession.builder.appName("ComplexColumnTransformation").getOrCreate()

# ìì ë°ì´í° (DataFrame ìì±)
data = spark.createDataFrame([
    (10000, 0.1, "VIP", 2, "credit_card", "2023-06-09 10:30:00"),
    (25000, 0.05, "NORMAL", 1, "bank_transfer", "2023-06-09 19:45:00")
], ["price", "discount_rate", "customer_grade", "quantity", "payment_method", "purchase_time"])

In [222]:
data.show()

+-----+-------------+--------------+--------+--------------+-------------------+
|price|discount_rate|customer_grade|quantity|payment_method|      purchase_time|
+-----+-------------+--------------+--------+--------------+-------------------+
|10000|          0.1|           VIP|       2|   credit_card|2023-06-09 10:30:00|
|25000|         0.05|        NORMAL|       1| bank_transfer|2023-06-09 19:45:00|
+-----+-------------+--------------+--------+--------------+-------------------+

In [223]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType

# SparkSession ìì± (íìí ê²½ì°)
spark = SparkSession.builder.appName("ComplexColumnTransformation").getOrCreate()

# ìì ë°ì´í° (DataFrame ìì±)
data = spark.createDataFrame([
    (10000, 0.1, "VIP", 2, "credit_card", "2023-06-09 10:30:00"),
    (25000, 0.05, "NORMAL", 1, "bank_transfer", "2023-06-09 19:45:00")
], ["price", "discount_rate", "customer_grade", "quantity", "payment_method", "purchase_time"])

# ë³µì¡í ì´ ë³í ìì
transformed_data = (data
    .withColumn("discounted_price", F.when(F.col("customer_grade") == "VIP", F.col("price") * (1 - F.col("discount_rate") - 0.05)).otherwise(F.col("price") * (1 - F.col("discount_rate"))))
    .withColumn("total_payment", F.col("discounted_price") * F.col("quantity"))
    .withColumn("payment_method_num", F.when(F.col("payment_method") == "credit_card", 1).when(F.col("payment_method") == "bank_transfer", 2).otherwise(0))  # ê¸°í ê²°ì  ìë¨ ì²ë¦¬
    .withColumn("purchase_hour", F.hour(F.to_timestamp("purchase_time")))
    .withColumn("hour_period", F.when(F.col("purchase_hour") < 12, "ì¤ì ").when(F.col("purchase_hour") < 18, "ì¤í").otherwise("ì ë"))
)

# ê²°ê³¼ ì¶ë ¥
transformed_data.show()

+-----+-------------+--------------+--------+--------------+-------------------+----------------+-------------+------------------+-------------+-----------+
|price|discount_rate|customer_grade|quantity|payment_method|      purchase_time|discounted_price|total_payment|payment_method_num|purchase_hour|hour_period|
+-----+-------------+--------------+--------+--------------+-------------------+----------------+-------------+------------------+-------------+-----------+
|10000|          0.1|           VIP|       2|   credit_card|2023-06-09 10:30:00|          8500.0|      17000.0|                 1|           10|       ì¤ì |
|25000|         0.05|        NORMAL|       1| bank_transfer|2023-06-09 19:45:00|         23750.0|      23750.0|                 2|           19|       ì ë|
+-----+-------------+--------------+--------+--------------+-------------------+----------------+-------------+------------------+-------------+-----------+

In [224]:
data.createOrReplaceTempView('dat')

In [265]:
spark.sql(
    "select * , \
    case when customer_grade == 'VIP' then (price*(1-discount_rate-0.05)) else (price*(1-discount_rate)) end as discounted_price, \
    discounted_price*quantity as total_payment,\
    case when payment_method == 'credit_card' then 1 else 2 end as payment_method_num ,\
    EXTRACT(HOUR from TO_TIMESTAMP(purchase_time)) as purchase_hour , \
    case when EXTRACT(HOUR from TO_TIMESTAMP(purchase_time)) < 12 then 'ì¤ì ' when EXTRACT(HOUR from TO_TIMESTAMP(purchase_time)) < 18 then 'ì¤í' else 'ì ë' end as hour_period \
    from dat"
).show()

+-----+-------------+--------------+--------+--------------+-------------------+----------------+-------------+------------------+-------------+-----------+
|price|discount_rate|customer_grade|quantity|payment_method|      purchase_time|discounted_price|total_payment|payment_method_num|purchase_hour|hour_period|
+-----+-------------+--------------+--------+--------------+-------------------+----------------+-------------+------------------+-------------+-----------+
|10000|          0.1|           VIP|       2|   credit_card|2023-06-09 10:30:00|          8500.0|      17000.0|                 1|           10|       ì¤ì |
|25000|         0.05|        NORMAL|       1| bank_transfer|2023-06-09 19:45:00|         23750.0|      23750.0|                 2|           19|       ì ë|
+-----+-------------+--------------+--------+--------------+-------------------+----------------+-------------+------------------+-------------+-----------+

In [266]:
from pyspark.sql import (
    functions as f,
    SparkSession,
    types as t
)

spark = SparkSession.builder.appName("df_total").getOrCreate()
csv_file_path = "file:///home/jovyan/work/sample/product.csv"
df = spark.read.option("inferSchema",'true').csv(csv_file_path)

In [279]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: integer (nullable = true)

In [270]:
col = ['name','id','price']
df2 = df.toDF(*col)

In [271]:
df2.show()

+--------------------+----+-----+
|                name|  id|price|
+--------------------+----+-----+
|      Whitney Duncan|2265|  899|
|       Ebonie Hudson|2509|  762|
|        Luise Warren|1995|  657|
|        Kenton Floyd|2271|  829|
|       Kasie Douglas|2507|  254|
|          Elden Ward|1486|  369|
|      Hyacinth Kelly|1355|  660|
|   Alishia Stevenson|3173|  368|
|      Amado Castillo|1465|  242|
|       Daniell Mills|3043|   44|
|          King Price|1579|  607|
|       Luise Chapman|2149|  705|
|        Hobert Grant|2858|  777|
|       Michal Steele|1500|  519|
|       Elenore Watts|2123|  670|
|Cristobal Montgomery|1378|  630|
|     Towanda Stevens|3122|  358|
|     Hildred Sanders|3589|  193|
|        Cordie Terry|3967|   49|
|       Eugene Farmer|1966|  529|
+--------------------+----+-----+
only showing top 20 rows

In [272]:
df2.createOrReplaceTempView('dat')

In [275]:
df3 = spark.sql(
    "select name, sum(price) from dat group by name order by sum(price) desc" )

In [276]:
df3.show()

+-----------------+----------+
|             name|sum(price)|
+-----------------+----------+
|     Damion Wolfe|      1397|
| Benedict Frazier|       998|
|  Giuseppe Miller|       997|
|    Garret Martin|       997|
|Erminia Robertson|       997|
|     Milan Gibson|       996|
|     Rudy Wheeler|       994|
|   Kathey Baldwin|       994|
|   Williemae Bell|       992|
|Gearldine Aguilar|       988|
|      Jewel Parks|       987|
|     Hyman Castro|       985|
|    Noriko Medina|       984|
|     Garfield Day|       982|
|      Dacia Adams|       981|
|     Taisha Henry|       980|
|    Branda Valdez|       978|
|     Fumiko Weber|       976|
|Geraldo Alexander|       975|
|      Walker Pope|       975|
+-----------------+----------+
only showing top 20 rows

In [281]:
from pyspark.sql import (
    functions as f,
    SparkSession,
    types as t
)

spark = SparkSession.builder.appName("df_most_interviewed").getOrCreate()

csv_file_path = "file:///home/jovyan/work/sample/like.csv"
df = spark.read.option('inferSchema','true').csv(csv_file_path)

In [283]:
col = ['interviwer_id','occpation_id','rating']
df = df.toDF(*col)

In [284]:
df.show()

+-------------+------------+------+
|interviwer_id|occpation_id|rating|
+-------------+------------+------+
|        11657|        1100|     8|
|        13727|        2030|     2|
|        59892|        3801|     1|
|         6538|        3021|     6|
|        95811|        2030|     9|
|        54500|        1100|    10|
|        69741|        2030|     3|
|        51166|        2030|    10|
|        70009|        9382|     5|
|        63152|        2030|     6|
|        70758|        1100|     2|
|        35580|        2030|     5|
|        63199|        1100|    10|
|        33078|        2030|     3|
|        97480|        9382|     2|
|        47223|        1100|     8|
|        80308|        3021|     8|
|        26691|        1100|     3|
|        17194|        3021|     3|
|        96584|        2030|     4|
+-------------+------------+------+
only showing top 20 rows

In [287]:
df.createOrReplaceTempView('dat')

In [290]:
df2 = spark.sql("select occpation_id, count(*)  from dat group by occpation_id")

In [304]:
df2.show()

+------------+--------+
|occpation_id|count(1)|
+------------+--------+
|        1100|     217|
|        2030|     200|
|        3801|     203|
|        3021|     191|
|        9382|     189|
+------------+--------+

In [292]:
meta = {
    "1100": "engineer",
    "2030": "developer",
    "3801": "painter",
    "3021": "chemistry teacher",
    "9382": "priest"
}

In [311]:
occupation_dict = spark.sparkContext.broadcast(meta)

In [316]:
def get_occupation_name(occupation_id: str) -> str:
    return occupation_dict.value[occupation_id]

occupation_lookup_udf = f.udf(get_occupation_name)

In [318]:
df3 = df2.withColumn("occupation_name", get_occupation_name(f.col('occpation_id')))

TypeError: unhashable type: 'Column'

In [314]:
df3.show()

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/tmp/ipykernel_226/3099462565.py", line 2, in get_name
KeyError: 1100