In [1]:
print(123)

123

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySpark Oracle Connection").config("spark.driver.extraClassPath", "/home/jovyan/work/ojdbc8.jar") \
    .getOrCreate()

try:
    url = "jdbc:oracle:thin:@host.docker.internal:1521/xe"
    connection = spark._jvm.java.sql.DriverManager.getConnection(url, "pppsh", "1234")
    print("Oracle 데이터베이스 연결 성공!")
    connection.close()
except Exception as e:
    print("Oracle 데이터베이스 연결 실패:", e)
finally:
    spark.stop()

Oracle 데이터베이스 연결 성공!

In [4]:
from pyspark.sql import SparkSession


spark = SparkSession.builder \
    .appName("PySpark Oracle Connection").config("spark.driver.extraClassPath", "/home/jovyan/work/ojdbc8.jar") \
    .getOrCreate()

url = "jdbc:oracle:thin:@host.docker.internal:1521/xe"
user = "pppsh"
password = "1234"
table = "pppsh.employees"

df = spark.read.format("jdbc") \
    .option("url", url) \
    .option("dbtable", table) \
    .option("user", user) \
    .option("password", password) \
    .load()

df.show()

+-------------+----------+---------+--------------------+------------+-------------------+----------+--------+-------------+
|  EMPLOYEE_ID|FIRST_NAME|LAST_NAME|               EMAIL|PHONE_NUMBER|          HIRE_DATE|    JOB_ID|  SALARY|DEPARTMENT_ID|
+-------------+----------+---------+--------------------+------------+-------------------+----------+--------+-------------+
| 1.0000000000|      John|      Doe|john.doe@example.com|515.123.4567|2003-06-17 00:00:00|   IT_PROG| 4800.00|           60|
| 2.0000000000|      Jane|    Smith|jane.smith@exampl...|515.123.4568|2005-09-21 00:00:00|AC_ACCOUNT| 8300.00|           10|
| 4.0000000000|     Emily|    Brown|emily.brown@examp...|515.123.4570|2007-01-24 00:00:00|  ST_CLERK| 2500.00|           50|
| 3.0000000000|   Michael|  Johnson| michael@example.com|515.123.4569|2006-02-13 00:00:00|    SA_REP| 6000.00|           80|
| 5.0000000000|     David|      Lee|david.lee@example...|515.123.4571|2008-03-12 00:00:00|    MK_MAN|13000.00|           20|
| 6.0000000000|    Olivia|    Davis|olivia.davis@exam...|515.123.4572|2009-05-05 00:00:00|FI_ACCOUNT| 7900.00|          100|
| 7.0000000000|    Daniel|   Wilson|daniel.wilson@exa...|515.123.4573|2010-06-10 00:00:00|   AD_PRES|24000.00|           90|
| 8.0000000000|    Sophia|   Taylor|sophia.taylor@exa...|515.123.4574|2011-07-07 00:00:00|    HR_REP| 6500.00|           40|
|10.0000000000|       Ava| Anderson|ava.anderson@exam...|515.123.4576|2013-09-09 00:00:00|  PU_CLERK| 3100.00|           30|
| 9.0000000000|   William|   Martin|  martin@example.com|515.123.4575|2012-08-08 00:00:00|    PR_REP| 7000.00|           70|
+-------------+----------+---------+--------------------+------------+-------------------+----------+--------+-------------+