In [3]:
print(1243)

1243

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySpark Oracle Connection").config("spark.driver.extraClassPath", "/home/jovyan/work/ojdbc8.jar") \
    .getOrCreate()

try:
    url = "jdbc:oracle:thin:@host.docker.internal:1521/xe"
    connection = spark._jvm.java.sql.DriverManager.getConnection(url, "pppsh", "1234")
    print("Oracle 데이터베이스 연결 성공!")
    connection.close()
except Exception as e:
    print("Oracle 데이터베이스 연결 실패:", e)
finally:
    spark.stop()

Oracle 데이터베이스 연결 성공!

# Table 불러오기

In [24]:
from pyspark.sql import SparkSession


spark = SparkSession.builder \
    .appName("PySpark Oracle Connection").config("spark.driver.extraClassPath", "/home/jovyan/work/ojdbc11.jar") \
    .getOrCreate()

url = "jdbc:oracle:thin:@host.docker.internal:1521/xe"
user = "pppsh"
password = "1234"
table = "pppsh.employees"

df = spark.read.format("jdbc") \
    .option("url", url) \
    .option("dbtable", table) \
    .option("user", user) \
    .option("password", password) \
    .load()

df.show()

+-------------+----------+---------+--------------------+------------+-------------------+----------+--------+-------------+
|  EMPLOYEE_ID|FIRST_NAME|LAST_NAME|               EMAIL|PHONE_NUMBER|          HIRE_DATE|    JOB_ID|  SALARY|DEPARTMENT_ID|
+-------------+----------+---------+--------------------+------------+-------------------+----------+--------+-------------+
| 1.0000000000|      John|      Doe|john.doe@example.com|515.123.4567|2003-06-17 00:00:00|   IT_PROG| 4800.00|           60|
| 2.0000000000|      Jane|    Smith|jane.smith@exampl...|515.123.4568|2005-09-21 00:00:00|AC_ACCOUNT| 8300.00|           10|
| 4.0000000000|     Emily|    Brown|emily.brown@examp...|515.123.4570|2007-01-24 00:00:00|  ST_CLERK| 2500.00|           50|
| 3.0000000000|   Michael|  Johnson| michael@example.com|515.123.4569|2006-02-13 00:00:00|    SA_REP| 6000.00|           80|
| 5.0000000000|     David|      Lee|david.lee@example...|515.123.4571|2008-03-12 00:00:00|    MK_MAN|13000.00|           20|
| 6.0000000000|    Olivia|    Davis|olivia.davis@exam...|515.123.4572|2009-05-05 00:00:00|FI_ACCOUNT| 7900.00|          100|
| 7.0000000000|    Daniel|   Wilson|daniel.wilson@exa...|515.123.4573|2010-06-10 00:00:00|   AD_PRES|24000.00|           90|
| 8.0000000000|    Sophia|   Taylor|sophia.taylor@exa...|515.123.4574|2011-07-07 00:00:00|    HR_REP| 6500.00|           40|
|10.0000000000|       Ava| Anderson|ava.anderson@exam...|515.123.4576|2013-09-09 00:00:00|  PU_CLERK| 3100.00|           30|
| 9.0000000000|   William|   Martin|  martin@example.com|515.123.4575|2012-08-08 00:00:00|    PR_REP| 7000.00|           70|
+-------------+----------+---------+--------------------+------------+-------------------+----------+--------+-------------+

# 테이블 insert

In [62]:
from pyspark.sql import (
    functions as f,
    SparkSession,
    types as t
)

# Attribution 3.0 Unported (CC BY 3.0)
# https://www.kaggle.com/datasets/csanhueza/the-marvel-universe-social-network

spark = SparkSession.builder.appName("df_most_popular").getOrCreate()
csv_file_path = "file:///home/jovyan/work/sample/hero-network.csv"
# read file
df = spark.read\
            .option("header", "true")\
            .option("inferSchema", "true").csv(csv_file_path)

In [67]:
from pyspark.sql.functions import rand, round

df2 = df.withColumn("idx", round(rand() * 99) + 1)
df2.show()

+--------------------+--------------------+----+
|               hero1|               hero2| idx|
+--------------------+--------------------+----+
|       LITTLE, ABNER|      PRINCESS ZANDA|79.0|
|       LITTLE, ABNER|BLACK PANTHER/T'CHAL|83.0|
|BLACK PANTHER/T'CHAL|      PRINCESS ZANDA|20.0|
|       LITTLE, ABNER|      PRINCESS ZANDA|33.0|
|       LITTLE, ABNER|BLACK PANTHER/T'CHAL| 1.0|
|BLACK PANTHER/T'CHAL|      PRINCESS ZANDA|34.0|
|STEELE, SIMON/WOLFGA|    FORTUNE, DOMINIC|97.0|
|STEELE, SIMON/WOLFGA| ERWIN, CLYTEMNESTRA|70.0|
|STEELE, SIMON/WOLFGA|IRON MAN/TONY STARK |72.0|
|STEELE, SIMON/WOLFGA|IRON MAN IV/JAMES R.| 3.0|
|STEELE, SIMON/WOLFGA|RAVEN, SABBATH II/EL|90.0|
|RAVEN, SABBATH II/EL|    FORTUNE, DOMINIC| 8.0|
|RAVEN, SABBATH II/EL| ERWIN, CLYTEMNESTRA|76.0|
|RAVEN, SABBATH II/EL|IRON MAN/TONY STARK |39.0|
|RAVEN, SABBATH II/EL|IRON MAN IV/JAMES R.|46.0|
|IRON MAN IV/JAMES R.|    FORTUNE, DOMINIC|80.0|
|IRON MAN IV/JAMES R.| ERWIN, CLYTEMNESTRA|35.0|
|IRON MAN IV/JAMES R.|IRON MAN/TONY STARK |69.0|
|IRON MAN/TONY STARK |    FORTUNE, DOMINIC|23.0|
|IRON MAN/TONY STARK | ERWIN, CLYTEMNESTRA|19.0|
+--------------------+--------------------+----+
only showing top 20 rows

In [68]:

url = "jdbc:oracle:thin:@host.docker.internal:1521/xe"
user = "pppsh"
password = "1234"


# JDBC 연결 정보 설정
url = "jdbc:oracle:thin:@host.docker.internal:1521/xe"
properties = {
    "user": user,
    "password": password,
    "driver": "oracle.jdbc.driver.OracleDriver"
}



# 새로운 테이블 이름 지정
new_table_name = "pppsh.test_table"  # 원하는 테이블 이름으로 변경


# DataFrame을 데이터베이스 테이블에 저장 (테이블 자동 생성)
df2.write.jdbc(
    url=url, 
    table=new_table_name, 
    mode="overwrite", 
    properties=properties, 
)

In [65]:
df2.show()

+--------------------+--------------------+----+
|               hero1|               hero2| idx|
+--------------------+--------------------+----+
|       LITTLE, ABNER|      PRINCESS ZANDA|28.0|
|       LITTLE, ABNER|BLACK PANTHER/T'CHAL|19.0|
|BLACK PANTHER/T'CHAL|      PRINCESS ZANDA|32.0|
|       LITTLE, ABNER|      PRINCESS ZANDA|21.0|
|       LITTLE, ABNER|BLACK PANTHER/T'CHAL|44.0|
|BLACK PANTHER/T'CHAL|      PRINCESS ZANDA|51.0|
|STEELE, SIMON/WOLFGA|    FORTUNE, DOMINIC|33.0|
|STEELE, SIMON/WOLFGA| ERWIN, CLYTEMNESTRA|28.0|
|STEELE, SIMON/WOLFGA|IRON MAN/TONY STARK |83.0|
|STEELE, SIMON/WOLFGA|IRON MAN IV/JAMES R.|69.0|
|STEELE, SIMON/WOLFGA|RAVEN, SABBATH II/EL|76.0|
|RAVEN, SABBATH II/EL|    FORTUNE, DOMINIC|54.0|
|RAVEN, SABBATH II/EL| ERWIN, CLYTEMNESTRA| 8.0|
|RAVEN, SABBATH II/EL|IRON MAN/TONY STARK |66.0|
|RAVEN, SABBATH II/EL|IRON MAN IV/JAMES R.|67.0|
|IRON MAN IV/JAMES R.|    FORTUNE, DOMINIC|81.0|
|IRON MAN IV/JAMES R.| ERWIN, CLYTEMNESTRA|72.0|
|IRON MAN IV/JAMES R.|IRON MAN/TONY STARK |59.0|
|IRON MAN/TONY STARK |    FORTUNE, DOMINIC|83.0|
|IRON MAN/TONY STARK | ERWIN, CLYTEMNESTRA|88.0|
+--------------------+--------------------+----+
only showing top 20 rows

# 대용량 파티션 나눠서 불러오기

In [71]:
from pyspark.sql import SparkSession


spark = SparkSession.builder \
    .appName("PySpark Oracle Connection").config("spark.driver.extraClassPath", "/home/jovyan/work/ojdbc11.jar") \
    .getOrCreate()


url = "jdbc:oracle:thin:@host.docker.internal:1521/xe"
user = "pppsh"
password = "1234"


# JDBC 연결 정보 설정
url = url
properties = {
    "user": user,
    "password": password,
    "driver": "oracle.jdbc.driver.OracleDriver"
}

table = "pppsh.test_table"

# df = spark.read.format("jdbc") \
#     .option("url", url) \
#     .option("dbtable", table) \
#     .option("user", user) \
#     .option("password", password) \
#     .load()

# df.show()

df = spark.read.format("jdbc").option("url", url) \
    .option("dbtable", table)\
    .option("user", user)\
    .option("password", password)\
    .option("partitionColumn", "idx")\
    .option("lowerBound", 1)\
    .option("upperBound", 1000000)\
    .option("numPartitions", 10)\
    .option("fetchsize", 10000).load()

In [72]:
print(df.rdd.getNumPartitions())

10